@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Recursive:wght@500&display=swap");

.openSans {
  font-family: "Open Sans", sans-serif;
}

.recursive {
  font-family: "Recursive", sans-serif;
}

.ghost-button-semi-transparent {
  display: inline-block;
  width: 200px;
  padding: 15px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;

  -webkit-transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}
.ghost-button-semi-transparent:hover,
.ghost-button-semi-transparent:active {
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.212);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  margin: auto;
  background: linear-gradient(#141e30, #2c3e50);
  z-index: 7;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
.menu li {
  float: left;
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.menu div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  z-index: 9;
}
.menu :nth-child(1) div.active {
  background-color: #3498db;
  pointer-events: none;
}

.menu :nth-child(2) div.active {
  background-color: #9b59b6;
  pointer-events: none;
}

.menu :nth-child(3) div.active {
  background-color: #e67e22;
  pointer-events: none;
}

.menu :nth-child(4) div.active {
  background-color: #16a085;
  pointer-events: none;
}

li.slider {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 8;
  /* transition: left 0.4s, background-color 0.4s; */
}
.menu li:nth-child(1):hover ~ .slider,
.menu li:nth-child(1):focus ~ .slider,
.menu li:nth-child(1):active ~ .slider {
  left: 0;
  background-color: #3498db;
}
.menu li:nth-child(2):hover ~ .slider,
.menu li:nth-child(2):focus ~ .slider,
.menu li:nth-child(2):active ~ .slider {
  left: 25%;
  background-color: #9b59b6;
}
.menu li:nth-child(3):hover ~ .slider,
.menu li:nth-child(3):focus ~ .slider,
.menu li:nth-child(3):active ~ .slider {
  left: 50%;
  background-color: #e67e22;
}
.menu li:nth-child(4):hover ~ .slider,
.menu li:nth-child(4):focus ~ .slider,
.menu li:nth-child(4):active ~ .slider {
  left: 75%;
  background-color: #16a085;
}

.skillscontainer {
  width: 100%;
  height: 100%;
  padding: 0 4vw 0 8vw;
}

.skillscontainer ul {
  padding: 0px;
  margin: 0px;
}

.skillscontainer li {
  position: relative;
  list-style: none;
  margin: 0px 0px 50px 0px;
  font-weight: 500;
  text-transform: uppercase;
}

.skillscontainer li:before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 25px;
  background-color: hsla(162, 59%, 58%, 0.5);
  border-radius: 1000px;
}

.skillscontainer li:after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 25px;
  background-color: hsla(162, 53%, 43%, 0.5);
  border-radius: 1000px;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.skillscontainer li.html:after {
  animation-name: html;
}

@keyframes html {
  to {
    width: 90%;
  }
}

.skillscontainer li.react:after {
  animation-name: react;
}

@keyframes react {
  to {
    width: 75%;
  }
}

.skillscontainer li.js:after {
  animation-name: js;
}

@keyframes js {
  to {
    width: 70%;
  }
}

.skillscontainer li.express:after {
  animation-name: express;
}

@keyframes express {
  to {
    width: 70%;
  }
}
.skillscontainer li.api:after {
  animation-name: api;
}

@keyframes api {
  to {
    width: 70%;
  }
}
.skillscontainer li.mongo:after {
  animation-name: mongo;
}

@keyframes mongo {
  to {
    width: 65%;
  }
}
@media (max-width: 958px) {
  .menu {
    height: 45px;
  }
  .skillscontainer {
    width: 100%;
    height: 100%;
    padding: 0 8vw 0 8vw;
  }
  .skillscontainer li {
    position: relative;
    list-style: none;
    margin: 0px 0px 20px 0px;
    font-weight: 500;
    text-transform: uppercase;
    z-index: -10;
  }
  .skillscontainer li:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 25px;
    background-color: hsla(162, 59%, 58%, 0.5);
    border-radius: 1000px;
    z-index: -10;
  }

  .skillscontainer li:after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 0;
    height: 25px;
    background-color: hsla(162, 53%, 43%, 0.5);
    border-radius: 1000px;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: -10;
  }
}

.bg,
.overlay {
  text-align: center;
}

.overlay {
  transition: 0.5s all;
  border-radius: 3px;
}
.bg {
  width: 100%;
  position: relative;
}
.bg img {
  width: 100%;
  height: 100%;
}
.bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.411);
  color: #fff;
  opacity: 0;
}

.backcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.bg:hover .overlay {
  opacity: 1;
}
.bg:hover img {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.login-box {
  min-width: 300px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form .submit {
  background: none;
  border: none;
  outline: none;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box .submit:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box .submit span {
  position: absolute;
  display: block;
}

.login-box .submit span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box .submit span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box .submit span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box .submit span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .login-box {
    width: 40%;
    min-width: 500px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
